@layer components {
	/*********************
   * Components: Badges
   *********************/
	.badge {
		border-radius: var(--radius-base);

		/* Icon Spacing */
		display: inline-flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: --spacing(2);

		/* Typography */
		text-decoration-line: none;
		white-space: nowrap;

		/* Size */
		font-size: var(--text-xs);
		line-height: var(--text-xs--line-height);
		padding-block: --spacing(1);
		padding-inline: --spacing(3);
	}

	.badge-icon {
		box-sizing: content-box;
		border-radius: 100%;

		/* Center Icons */
		display: inline-flex;
		justify-content: center;
		align-items: center;

		/* Typography */
		text-decoration-line: none;
		white-space: nowrap;

		/* Size */
		font-size: var(--text-xs);
		width: var(--text-xs);
		height: var(--text-xs);
		padding: --spacing(1.5);
	}

	/*********************
   * Components: Buttons
   *********************/
	.btn {
		border-radius: var(--radius-base);

		/* Icon Spacing */
		display: inline-flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: --spacing(2);

		/* Typography */
		text-decoration-line: none;
		white-space: nowrap;

		/* Size */
		font-size: var(--text-base);
		line-height: var(--text-base--line-height);
		padding-block: --spacing(1);
		padding-inline: --spacing(4);

		/* Transitions */
		transition-property: all;
		transition-timing-function: var(--default-transition-timing-function);
		transition-duration: var(--default-transition-duration);

		@variant hover {
			filter: brightness(125%);
			@variant dark {
				filter: brightness(75%);
			}
		}
	}

	.btn-icon {
		box-sizing: content-box;
		border-radius: var(--radius-base);

		/* Center Icons */
		display: inline-flex;
		justify-content: center;
		align-items: center;

		/* Typography */
		text-decoration-line: none;
		white-space: nowrap;

		/* Size */
		font-size: var(--text-base);
		width: var(--text-base);
		height: var(--text-base);
		padding: --spacing(2);

		@variant hover {
			filter: brightness(125%);
			@variant dark {
				filter: brightness(75%);
			}
		}
	}

	/* Sizes --- */

	/* Button */
	.btn-sm {
		font-size: var(--text-xs);
		line-height: var(--text-xs--line-height);
		padding-block: --spacing(1);
		padding-inline: --spacing(3);
	}
	.btn-base {
		font-size: var(--text-base);
		line-height: var(--text-base--line-height);
		padding-block: --spacing(1);
		padding-inline: --spacing(4);
	}
	.btn-lg {
		font-size: var(--text-xl);
		line-height: var(--text-xl--line-height);
		padding-block: --spacing(2);
		padding-inline: --spacing(5);
	}

	/* Button Icon */
	.btn-icon-sm {
		font-size: var(--text-xs);
		width: var(--text-xs);
		height: var(--text-xs);
		padding: --spacing(1.5);
	}
	.btn-icon-base {
		font-size: var(--text-base);
		width: var(--text-base);
		height: var(--text-base);
		padding: --spacing(2);
	}
	.btn-icon-lg {
		font-size: var(--text-xl);
		width: var(--text-xl);
		height: var(--text-xl);
		padding: --spacing(3);
	}

	/* Group --- */

	.btn-group {
		border-radius: var(--radius-container);
		display: inline-flex;
		align-items: center;
		gap: --spacing(2);
		padding: --spacing(2);
		overflow: hidden;
	}

	/*********************
   * Components: Cards
   *********************/
	.card {
		border-radius: var(--radius-container);

		&a {
			/* Transitions (all) */
			transition-property: all;
			transition-timing-function: var(--default-transition-timing-function);
			transition-duration: var(--default-transition-duration);

			@variant hover {
				filter: brightness(95%);
				@variant dark {
					filter: brightness(110%);
				}
			}
		}
	}

	.card-hover {
		/* Transitions (all) */
		transition-property: all;
		transition-timing-function: var(--default-transition-timing-function);
		transition-duration: var(--default-transition-duration);

		@variant hover {
			filter: brightness(95%);
			@variant dark {
				filter: brightness(110%);
			}
		}
	}

	/*********************
   * Components: Chips
   *********************/
	.chip {
		border-radius: var(--radius-base);

		/* Icon Spacing */
		display: inline-flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: --spacing(2);

		/* Typography */
		text-decoration-line: none;
		white-space: nowrap;

		/* Size */
		font-size: var(--text-xs);
		line-height: var(--text-xs--line-height);
		padding-block: --spacing(1);
		padding-inline: --spacing(3);

		/* Transitions */
		transition-property: all;
		transition-timing-function: var(--default-transition-timing-function);
		transition-duration: var(--default-transition-duration);

		@variant hover {
			filter: brightness(125%);
			@variant dark {
				filter: brightness(75%);
			}
		}
	}

	.chip-icon {
		box-sizing: content-box;
		border-radius: var(--radius-base);

		/* Center Icons */
		display: inline-flex;
		justify-content: center;
		align-items: center;

		/* Typography */
		text-decoration-line: none;
		white-space: nowrap;

		/* Size */
		font-size: var(--text-xs);
		width: var(--text-xs);
		height: var(--text-xs);
		padding: --spacing(1.5);

		@variant hover {
			filter: brightness(125%);
			@variant dark {
				filter: brightness(75%);
			}
		}
	}

	/*********************
   * Components: Dividers
   *********************/

	/* Horizontal Rule */
	.hr {
		border-color: var(--color-surface-200-800);
		border-top-width: 1px;
		display: block;
		width: 100%;
	}

	/* Vertical Rule */
	.vr {
		border-color: var(--color-surface-200-800);
		border-left-width: 1px;
		display: inline-block;
		height: 100%;
	}

	/*********************
   * Components: Forms (Core)
   *********************/

	.fieldset {
		display: block;
		width: 100%;
	}

	.legend {
		display: block;
		width: 100%;
	}

	.label {
		display: block;
		width: 100%;
		& > * + * {
			margin-top: --spacing(1);
		}
	}

	.label-text {
		display: block;
		font-size: var(--text-xs);
		line-height: var(--text-xs--line-height);
		font-weight: var(--font-weight-medium);
		text-decoration-line: none;
	}

	/*********************
   * Components: Forms > Input Group
   *********************/

	.input-group {
		border-radius: var(--radius-base);
		display: grid;
		align-items: stretch;
		overflow: hidden;

		/* Edges */
		outline-color: transparent;
		border-width: 0;
		--tw-ring-inset: inset;
		--tw-ring-color: var(--color-surface-200-800);
		--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 var(--default-ring-width)
			var(--tw-ring-color, currentColor);
		box-shadow:
			var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow),
			var(--tw-ring-shadow), var(--tw-shadow);

		/* Child Edges */
		& > :first-child {
			border-top-left-radius: var(--radius-base);
			border-bottom-left-radius: var(--radius-base);
		}
		& > :last-child {
			border-top-right-radius: var(--radius-base);
			border-bottom-right-radius: var(--radius-base);
		}

		/* Dividers */
		& > * + * {
			border-left-width: 1px !important;
			border-color: var(--color-surface-200-800);
		}
	}

	/* Children: Cell --- */

	.ig-cell {
		font-size: var(--text-sm);
		display: flex;
		justify-content: center;
		align-items: center;
		padding-inline: --spacing(4);
	}

	/* Children: Form Elements --- */
	/* We recreate a subset of form element styles here */
	/* These are purpose-built to work in the group */

	.ig-input {
		background-color: transparent;
		display: block;
		width: 100%;

		/* Size */
		font-size: var(--text-base);
		line-height: var(--text-base--line-height);
		padding-block: --spacing(1);
		padding-inline: --spacing(3);

		/* Edges */
		outline-color: transparent;
		border-width: 0;
		--tw-ring-inset: inset;

		@variant active {
			--tw-ring-color: var(--color-primary-500);
		}
		@variant focus {
			--tw-ring-color: var(--color-primary-500);
		}
		@variant focus-within {
			--tw-ring-color: var(--color-primary-500);
		}
	}

	.ig-select {
		background-color: transparent;
		display: block;
		width: 100%;

		/* Size */
		font-size: var(--text-base);
		line-height: var(--text-base--line-height);
		padding-block: --spacing(1);

		/* Edges */
		outline-color: transparent;
		border-width: 0;
		--tw-ring-inset: inset;

		@variant active {
			--tw-ring-color: var(--color-primary-500);
		}
		@variant focus {
			--tw-ring-color: var(--color-primary-500);
		}
		@variant focus-within {
			--tw-ring-color: var(--color-primary-500);
		}

		/* Option --- */

		& option {
			background-color: var(--color-surface-50-950);
			color: var(--color-surface-950-50);
			border-radius: var(--radius-base);
			font-size: var(--text-base);
			line-height: --spacing(9);
			height: --spacing(9);
			padding: --spacing(2);
		}
	}

	.ig-btn {
		/* Icon Spacing */
		display: inline-flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: --spacing(2);

		/* Typography */
		text-decoration-line: none;
		white-space: nowrap;

		/* Size */
		font-size: var(--text-base);
		line-height: var(--text-base--line-height);
		padding-block: --spacing(1);
		padding-inline: --spacing(4);

		/* Transitions */
		transition-property: all;
		transition-timing-function: var(--default-transition-timing-function);
		transition-duration: var(--default-transition-duration);

		@variant hover {
			filter: brightness(125%);
			@variant dark {
				filter: brightness(75%);
			}
		}
	}

	/*********************
   * Components: Forms > Input
   *********************/

	.input {
		background-color: transparent;
		border-radius: var(--radius-base);
		display: block;
		width: 100%;

		/* Size */
		font-size: var(--text-base);
		line-height: var(--text-base--line-height);
		padding-block: --spacing(1);
		padding-inline: --spacing(3);

		/* Edges */
		outline-color: transparent;
		border-width: 0;
		--tw-ring-inset: inset;
		--tw-ring-color: var(--color-surface-200-800);
		--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 var(--default-ring-width)
			var(--tw-ring-color, currentColor);
		box-shadow:
			var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow),
			var(--tw-ring-shadow), var(--tw-shadow);

		@variant active {
			--tw-ring-color: var(--color-primary-500);
		}
		@variant focus {
			--tw-ring-color: var(--color-primary-500);
		}
		@variant focus-within {
			--tw-ring-color: var(--color-primary-500);
		}

		/* File Input --- */

		&[type='file']::file-selector-button {
			cursor: pointer;
			border-radius: var(--radius-base);
			background-color: var(--color-surface-950-50);
			color: var(--color-surface-50-950);
			transform: translateY(--spacing(-0.5));
			margin-right: --spacing(2);
			text-transform: capitalize;

			/* Size */
			font-size: var(--text-xs);
			height: var(--text-xs--line-height);
			padding-block: --spacing(0);
			padding-inline: --spacing(3);
		}

		/* Range Input --- */
		/* https://developer.mozilla.org/en-US/docs/Web/CSS/accent-color */

		&[type='range'] {
			accent-color: var(--color-surface-950-50);
			box-shadow: none;
			padding-inline: initial;
		}

		/* Color Picker Input --- */
		/* https://stackoverflow.com/questions/11167281/webkit-css-to-control-the-box-around-the-color-in-an-inputtype-color */

		&[type='color'] {
			border-radius: var(--radius-base);
			width: --spacing(8.5);
			height: --spacing(8.5);
			padding: 0;
			border: none;
			outline: none;
			-webkit-appearance: none;
		}
		&[type='color']::-webkit-color-swatch-wrapper {
			padding: 0;
		}
		&[type='color']::-webkit-color-swatch {
			border: none;
			border-radius: var(--radius-base);
		}
		&[type='color']::-moz-color-swatch {
			border: none;
		}
		&[type='color']::-moz-color-swatch {
			border: none;
		}
	}

	/* Ghost Input*/
	/* Used for the <TagsInput> component. */
	.input-ghost {
		padding: 0px;
		background-color: transparent;

		border-color: transparent;
		outline-color: transparent;
		--tw-ring-color: transparent;

		@variant active {
			border-color: transparent !important;
		}
		@variant focus {
			border-color: transparent !important;
		}
		@variant focus-within {
			border-color: transparent !important;
		}
	}

	/*********************
   * Components: Forms > Progress Bar 
   *********************/

	/*
	BROWSER CONSISTENCY WARNING:
	Safari ignores most of the styles provided here.
  */

	.progress {
		webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;

		border-radius: var(--radius-base);
		background-color: var(--color-surface-200-800);
		width: 100%;
		height: --spacing(2);
		overflow: hidden;

		&::-webkit-progress-bar {
			background-color: var(--color-surface-200-800);
		}
		&::-webkit-progress-value {
			background-color: var(--color-surface-950-50);
		}
		&::-moz-progress-bar {
			background-color: var(--color-surface-950-50);
		}
		&:indeterminate::-moz-progress-bar {
			width: 0;
		}
	}

	/*********************
   * Components: Forms > Radio / Checkbox 
   *********************/

	.checkbox {
		--tw-ring-color: var(--color-surface-200-800);

		cursor: pointer;
		background-color: var(--color-surface-300-700);
		border-radius: var(--radius-sm);
		height: --spacing(5);
		width: --spacing(5);

		@variant focus-within {
			--tw-ring-color: var(--color-primary-500);
		}
		@variant hover {
			filter: brightness(105%);
		}
		@variant focus {
			filter: brightness(105%);
		}

		&:checked {
			background-color: var(--color-primary-500);

			@variant hover {
				background-color: var(--color-primary-500);
			}
			@variant focus {
				background-color: var(--color-primary-500);
				border: 0;
			}
		}

		&:indeterminate {
			background-color: var(--color-primary-500);

			@variant hover {
				background-color: var(--color-primary-500);
			}
			@variant focus {
				background-color: var(--color-primary-500);
				border: 0;
			}
		}
	}

	.radio {
		--tw-ring-color: var(--color-surface-200-800);

		cursor: pointer;
		background-color: var(--color-surface-300-700);
		border-radius: var(--radius-sm);
		height: --spacing(5);
		width: --spacing(5);

		/* Base Size --- */
		border-radius: 100%;
		height: --spacing(5);
		width: --spacing(5);

		@variant focus-within {
			--tw-ring-color: var(--color-primary-500);
		}
		@variant hover {
			filter: brightness(105%);
		}
		@variant focus {
			filter: brightness(105%);
		}

		&:checked {
			background-color: var(--color-primary-500);

			@variant hover {
				background-color: var(--color-primary-500);
			}
			@variant focus {
				background-color: var(--color-primary-500);
				border: 0;
			}
		}
	}

	/*********************
   * Components: Forms > Select 
   *********************/

	/*
	BROWSER CONSISTENCY WARNING:
	Select (especially Size and Multiple) are notoriously difficult to style
	consistently cross-browser, so all styles adhere to progress enhancement.
	We've styled this element within the confines of that browser's capabilities.
  */

	.select {
		background-color: transparent;
		border-radius: var(--radius-base);
		display: block;
		width: 100%;

		/* Size */
		font-size: var(--text-base);
		line-height: var(--text-base--line-height);
		padding-block: --spacing(1);

		/*
		WARNING
		Do not set `padding-inline` or it breaks
		the native drop-down arrow for selects.
	*/

		/* Edges */
		outline-color: transparent;
		border-width: 0;
		--tw-ring-inset: inset;
		--tw-ring-color: var(--color-surface-200-800);
		--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 var(--default-ring-width)
			var(--tw-ring-color, currentColor);
		box-shadow:
			var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow),
			var(--tw-ring-shadow), var(--tw-shadow);

		@variant active {
			--tw-ring-color: var(--color-primary-500);
		}
		@variant focus {
			--tw-ring-color: var(--color-primary-500);
		}
		@variant focus-within {
			--tw-ring-color: var(--color-primary-500);
		}

		/* Multiple & Size --- */

		& > * + * {
			margin-top: --spacing(2);
		}

		&[multiple] {
			border-radius: var(--radius-container);
			padding: --spacing(1);

			& optgroup,
			& option {
				background-color: transparent;
			}
		}

		&[size] {
			border-radius: var(--radius-container);
			padding: --spacing(1);

			& optgroup,
			& option {
				background-color: transparent;
			}
		}

		/* Optgroup --- */

		& optgroup {
			background-color: var(--color-surface-50-950);
			color: var(--color-surface-950-50);
		}

		& optgroup > * + * {
			margin-top: --spacing(2);
		}

		& optgroup option:first-of-type {
			margin-top: --spacing(2);
		}
		& optgroup option:last-child {
			margin-bottom: --spacing(2) !important;
		}

		/* Option --- */

		& option {
			background-color: var(--color-surface-50-950);
			color: var(--color-surface-950-50);
			border-radius: var(--radius-base);
			font-size: var(--text-base);
			line-height: --spacing(9);
			height: --spacing(9);
			padding: --spacing(2);
		}
	}

	/*********************
   * Components: Forms > Textarea
   *********************/

	.textarea {
		background-color: transparent;
		border-radius: var(--radius-container);
		display: block;
		width: 100%;

		/* Size */
		font-size: var(--text-base);
		line-height: var(--text-base--line-height);
		padding-block: --spacing(1);
		padding-inline: --spacing(3);

		/* Edges */
		outline-color: transparent;
		border-width: 0;
		--tw-ring-inset: inset;
		--tw-ring-color: var(--color-surface-200-800);
		--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 var(--default-ring-width)
			var(--tw-ring-color, currentColor);
		box-shadow:
			var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow),
			var(--tw-ring-shadow), var(--tw-shadow);

		@variant active {
			--tw-ring-color: var(--color-primary-500);
		}
		@variant focus {
			--tw-ring-color: var(--color-primary-500);
		}
		@variant focus-within {
			--tw-ring-color: var(--color-primary-500);
		}
	}

	/*********************
   * Components: Placeholders
   *********************/

	.placeholder {
		background-color: var(--color-surface-200-800);
		border-radius: var(--radius-base);
		min-height: --spacing(4);
	}

	.placeholder-circle {
		aspect-ratio: 1 / 1;
		background-color: var(--color-surface-200-800);
		border-radius: 100%;
		min-height: --spacing(5);
	}

	/*********************
   * Components: Tables
   *********************/

	.table-wrap {
		width: 100%;
		overflow: auto;
	}

	.table {
		/* Table --- */
		font-size: var(--text-sm);
		line-height: var(--text-sm--line-height);
		position: relative;
		width: 100%;

		/* Head --- */

		& thead {
			color: var(--color-surface-700-300);
			border-bottom-width: 1px;
			border-color: var(--color-surface-200-800);
		}

		& th {
			text-align: left;
			font-weight: 400;
		}

		/* Body --- */

		& tbody {
			& > :not(:last-child) {
				border-color: var(--color-surface-200-800);
			}
			& > :not(:last-child) {
				border-top-width: 0px;
				border-bottom-width: 1px;
			}
		}

		/* Foot --- */

		& tfoot {
			border-top-width: 1px;
			border-color: var(--color-surface-200-800);
			background-color: var(--color-surface-100-900);
		}

		/* Cells */

		& th {
			padding: --spacing(2);
		}

		& td {
			padding: --spacing(2);
		}

		/* Caption */

		& caption {
			color: var(--color-surface-600-400);
			font-size: var(--text-xs);
			line-height: var(--text-xs--line-height);
		}
	}

	/*********************
   * Components: Typography 
   *********************/

	.h1 {
		color: var(--heading-font-color);
		font-family: var(--heading-font-family);
		font-weight: var(--heading-font-weight);
		font-style: var(--heading-font-style);
		letter-spacing: var(--heading-letter-spacing);

		font-size: var(--text-4xl);
		line-height: var(--text-4xl--line-height);

		@variant md {
			font-size: var(--text-5xl);
			line-height: var(--text-5xl--line-height);
		}
		@variant dark {
			color: var(--heading-font-color-dark);
		}
	}

	.h2 {
		color: var(--heading-font-color);
		font-family: var(--heading-font-family);
		font-weight: var(--heading-font-weight);
		font-style: var(--heading-font-style);
		letter-spacing: var(--heading-letter-spacing);

		font-size: var(--text-3xl);
		line-height: var(--text-3xl--line-height);

		@variant md {
			font-size: var(--text-4xl);
			line-height: var(--text-4xl--line-height);
		}
		@variant dark {
			color: var(--heading-font-color-dark);
		}
	}

	.h3 {
		color: var(--heading-font-color);
		font-family: var(--heading-font-family);
		font-weight: var(--heading-font-weight);
		font-style: var(--heading-font-style);
		letter-spacing: var(--heading-letter-spacing);

		font-size: var(--text-2xl);
		line-height: var(--text-2xl--line-height);

		@variant md {
			font-size: var(--text-3xl);
			line-height: var(--text-3xl--line-height);
		}
		@variant dark {
			color: var(--heading-font-color-dark);
		}
	}

	.h4 {
		color: var(--heading-font-color);
		font-family: var(--heading-font-family);
		font-weight: var(--heading-font-weight);
		font-style: var(--heading-font-style);
		letter-spacing: var(--heading-letter-spacing);

		font-size: var(--text-xl);
		line-height: var(--text-xl--line-height);

		@variant md {
			font-size: var(--text-2xl);
			line-height: var(--text-2xl--line-height);
		}

		@variant dark {
			color: var(--heading-font-color-dark);
		}
	}

	.h5 {
		color: var(--heading-font-color);
		font-family: var(--heading-font-family);
		font-weight: var(--heading-font-weight);
		font-style: var(--heading-font-style);
		letter-spacing: var(--heading-letter-spacing);

		font-size: var(--text-lg);
		line-height: var(--text-lg--line-height);

		@variant md {
			font-size: var(--text-xl);
			line-height: var(--text-xl--line-height);
		}
		@variant dark {
			color: var(--heading-font-color-dark);
		}
	}

	.h6 {
		color: var(--heading-font-color);
		font-family: var(--heading-font-family);
		font-weight: var(--heading-font-weight);
		font-style: var(--heading-font-style);
		letter-spacing: var(--heading-letter-spacing);

		font-size: var(--text-base);
		line-height: var(--text-base--line-height);

		@variant md {
			font-size: var(--text-lg);
			line-height: var(--text-lg--line-height);
		}
		@variant dark {
			color: var(--heading-font-color-dark);
		}
	}

	.anchor {
		color: var(--anchor-font-color);
		font-family: var(--anchor-font-family);
		font-size: var(--anchor-font-size);
		line-height: var(--anchor-line-height);
		font-weight: var(--anchor-font-weight);
		font-style: var(--anchor-font-style);
		letter-spacing: var(--anchor-letter-spacing);
		text-decoration: var(--anchor-text-decoration);

		@variant hover {
			text-decoration: var(--anchor-text-decoration-hover);
		}
		@variant active {
			text-decoration: var(--anchor-text-decoration-active);
		}
		@variant focus {
			text-decoration: var(--anchor-text-decoration-focus);
		}
		@variant dark {
			color: var(--anchor-font-color-dark);
		}
	}

	.blockquote {
		border-left-width: 3px;
		border-left-color: var(--color-primary-500);
		padding-left: --spacing(4);
		font-style: italic;
	}

	.kbd {
		background-color: var(--color-surface-300-700);
		border-width: 1px;
		border-color: var(--color-surface-600-400);
		border-radius: var(--radius-base);
		color: var(--color-surface-contrast-500);
		font-family: var(--font-mono);
		font-size: var(--text-sm);
		white-space: nowrap;
		overflow-x: auto;
		padding-inline: --spacing(1.5);
		padding-block: --spacing(0.25);
	}

	.pre {
		background-color: rgba(0, 0, 0, 0.85);
		backdrop-filter: blur(var(--blur-sm));
		border-radius: var(--radius-container);
		color: var(--color-white);
		font-size: var(--text-xs);
		white-space: pre-wrap;
		padding: --spacing(4);
		overflow-x: auto;
	}

	.code {
		&:not(pre &, .ec-line &) {
			background-color: var(--color-primary-100-900);
			border-radius: var(--radius-base);
			color: var(--color-primary-contrast-50-950);
			font-family: var(--font-mono);
			font-size: var(--text-xs);
			white-space: nowrap;
			padding-inline: --spacing(1.5);
			padding-block: --spacing(0.75);
			overflow-x: auto;
		}
	}

	/* Insertions / Deletions --- */
	/* https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ins */
	/* https://developer.mozilla.org/en-US/docs/Web/HTML/Element/del */

	.ins {
		background-color: var(--color-success-500);
		color: var(--color-success-contrast-500);
		font-family: var(--font-mono);
		position: relative;
		display: block;
		padding: --spacing(0.5);
		padding-left: --spacing(5);
		text-decoration: none;

		&::before {
			position: absolute;
			left: --spacing(1);
			font-family: var(--font-mono);
		}
		&::before {
			content: '+';
		}
	}

	.del {
		background-color: var(--color-error-500);
		color: var(--color-error-contrast-500);
		font-family: var(--font-mono);
		position: relative;
		display: block;
		padding: --spacing(0.5);
		padding-left: --spacing(5);
		text-decoration: none;

		&::before {
			position: absolute;
			left: --spacing(1);
			font-family: var(--font-mono);
		}
		&::before {
			content: '−';
		}
	}

	.mark {
		color: var(--color-tertiary-contrast-500);
		background-color: var(--color-tertiary-500);
		border-radius: var(--radius-sm);
		padding-inline: --spacing(1);
	}
}
